.wrapper {
    margin-top: 35px;
    color: #858b93;
    padding: 10px;
}
.heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 50px;
    color: #f9f9f9;
}

.note {
    padding-top: 10px;
    span {
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 15px;

        color: #ffffff;

        opacity: 0.8;
    }

    p {
        font-family: 'Sora';

        font-weight: 400;
        font-size: 1rem;
        line-height: 13px;
        /* identical to box height */

        color: #91969e;

        opacity: 0.6;
    }
}
.list-dropzone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;
}

.list-dropzone .item {
    text-align: center;
}

.wrap-icon {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.item:nth-child(1) .wrap-icon {
    background-color: #0cce84;
}

.item:nth-child(2) .wrap-icon {
    background-color: #ef8f00;
}

.item:nth-child(3) .wrap-icon {
    background-color: #ae8ff9;
}

.item:nth-child(1) .wrap-icon::after,
.item:nth-child(2) .wrap-icon::after {
    position: absolute;
    content: '';
    left: calc(100% + 52px);
    bottom: 50%;
    width: 194.5px;
    height: 0px;
    border: 1px dashed #858b93;
}

.desc {
    margin-top: 30px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.45;
    color: #f9f9f9;
}

.upload-box {
    padding: 28px 32px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    margin-bottom: 30px;

    textarea,
    select {
        border: none;
        outline: none;
    }
}

.form-label,
.form-input {
    display: block;
}

.form-group {
    flex-grow: 1;
    textarea {
        resize: none;
        border-bottom: 2px solid #282828;
    }
}

.form-group:focus-within .form-input {
    border-color: var(--primary-color);
}

.form-group:focus-within .form-textarea {
    border-color: var(--primary-color);
}

.form-label {
    font-size: 1.6rem;
    font-weight: 700;
    background: linear-gradient(92.64deg, #c4f566 -11.2%, #ff6e6e 123.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.form-input,
.form-textarea {
    width: 100%;
    font-family: 'Sora', sans-serif;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid #282c30;
    padding: 8px 0 14px 0;
}

.form-input {
    padding-bottom: 30px;
}

.form-input::placeholder {
    font-family: 'Sora', sans-serif;
}

.form-error {
    color: #eb9204;
    font-size: 0.9rem;
    opacity: 0.9;
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 12em;
    height: 2.4em;
    line-height: 2.4;
    background-color: #5c6664;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 10px;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        border: none;
        box-shadow: none;
        background-color: #5c6664;
        background-image: none;
        flex: 1;
        padding: 0 10px;
        color: #fff;
        cursor: pointer;
        font-family: 'Sora', sans-serif;
    }

    select::-ms-expand {
        display: none;
    }

    &::after {
        content: '\25BC';
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 0.8em;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s all ease;
    }
}
