.wrapper {
    margin-top: 35px;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 0;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.info-inner {
    span {
        color: #f9f9f9;
        font-size: 1.4rem;
        font-family: 'Sora', sans-serif;
    }

    p {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 6px 0;
        color: #f9f9f9;
    }

    .edit-profile {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 4px 6px;
    }
}

.edit-profile {
    cursor: pointer;
    color: #ddd;

    &:hover {
        background-color: #282c30;
    }
}

.list-item {
    display: flex;
}

.list-item li {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 10px 20px;
    border: 1px solid #282c30;
    background: transparent;
    color: #858b93;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
}

.list-item li.active {
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);

    color: #fff;
}

.info-container {
    display: none;
    margin-top: 5px;
    background-color: #282c30;
    color: #858b93;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.info-container.active {
    display: block;
    border: 1px solid #282828;
    padding: 20px;
    height: auto;
}
