.wrapper {
    color: #f9f9f9;
    padding-bottom: 70px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    border-bottom: 2px solid #282c30;
    padding-bottom: 10px;
}

.header-left {
    display: flex;
    gap: 40px;
}

.filter {
    position: relative;
    font-size: 2.4rem;
    font-weight: 600;
    color: #858b93;
    cursor: pointer;
}

.filter.active::after {
    position: absolute;
    content: '';
    bottom: -14px;
    height: 2px;
    left: 0px;
    width: 100%;
    transition: background-color 0.25s ease-in-out 0s;
    background-color: #bcc6d0;
}

.filter.active {
    color: #f9f9f9;
}

.header-right {
    display: flex;
    gap: 24px;
    .list-value {
        display: flex;
        border: 1px solid #282c30;
        border-radius: 8px;
    }
    .value {
        padding: 8px 10px;
        cursor: pointer;
        border-radius: 2px;
    }
    .value.active {
        background-color: #282c30;
    }
}
.btn-view-all {
    background-color: transparent;
    color: #f9f9f9;
    cursor: pointer;
    font-family: 'Sora', sans-serif;

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 15px;
    border: 1px solid #282c30;
    padding: 0 10px;
    border-radius: 10px;

    &:hover {
        background-color: #282c30;
    }
}

.list-item-title {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    padding: 12px;

    span {
        font-size: 1.2rem;
        color: #858b93;
    }
}

.list-item-title span:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.list-item .item {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    &:hover {
        background-color: #313539;
    }
}

.thumbnail-collection {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 12px;
}

.auth {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.collection {
    display: flex;
    align-items: center;
    gap: 12px;
}

.name-collection {
    font-size: 1.4rem;
    max-width: 200px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.volumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.volumn-increase {
    font-size: 1.3rem;
    background: linear-gradient(89.86deg, #ef8f00 -6.27%, #ff7667 90.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.volunm-unincrease {
    font-size: 1.3rem;

    background: linear-gradient(89.93deg, #0cce84 3.45%, #ae8ef9 99.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
